<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <div class="collapse navbar-collapse" id="navbar">
    <a class=" btn btn-primary" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
    Portfolio </a>
  </div>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <ul class="navbar-nav navbar-right">
    <li class="nav-item">
      <%= link_to "Home", root_path, class: "nav-link" %>
      </li>
    <% if user_signed_in? %>
    <li class="nav-item">
      <%= link_to "Welcome", welcome_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
      <%= link_to "About Us", about_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
      <%= link_to "Lookup", lookup_path, class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to "Add Crypto", new_crypto_path, class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to "List cryptos", cryptos_path, class: "nav-link" %>
    </li>
      <li class="nav-item">
      <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "nav-link" %>
      </li>
      <li class="nav-item">
      <%= link_to "Edit profile", edit_user_registration_path, method: :delete, class: "nav-link" %>
      </li>
      <% else %>
      <li class="nav-item">
      <%= link_to "Sign up", new_user_registration_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
      <%= link_to "Log in", new_user_session_path, class: "nav-link" %>
      </li>
     <% end %>
    </ul>
  </div>
  </div>
</nav>

<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Find your cryptos</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown">
        Please select one
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
      </ul>
    </div>
  </div>
</div>
