<p style="color: green"><%= notice %></p>

<%= render @crypto %>

<div>
  <%= link_to "Edit this crypto", edit_crypto_path(@crypto) %> |
  <%= link_to "Back to cryptos", cryptos_path %>

  <%= button_to "Destroy this crypto", @crypto, method: :delete %>
</div>
